@import "tailwindcss";
@import "./homepage.css";

@source "../views/**/*.blade.php";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@theme {
    --font-sans: 'Figtree', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #0da487;
    --color-secondary: #ff6b6b;
}
